<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423673139047-ttfglihsc2o7su40ljddb7umhij27rom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423673139047-ttfglihsc2o7su40ljddb7umhij27rom</string>
	<key>API_KEY</key>
	<string>AIzaSyDVwhZ1MrP_pjKgqpqmxASZ9QOeXGZsweE</string>
	<key>GCM_SENDER_ID</key>
	<string>423673139047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobileledger</string>
	<key>PROJECT_ID</key>
	<string>mobiledger-6f54f</string>
	<key>STORAGE_BUCKET</key>
	<string>mobiledger-6f54f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423673139047:ios:d663ad88ec7089f82629c2</string>
</dict>
</plist>